doctype html
html
    head
        title
        link(rel="stylesheet", href="css/style.css")

    body
        a(href="https://codepen.io/ioio/pen/RgaEGK")="codepen of the chompy example"
        h1 Hello Chompy ...!
        .container
            .chompy
                .chomp
                .chomp
                .chompy_shadow
